.famous__wrapper {
  margin-top: 190px;
  padding-left: 10px;
  padding-right: 10px;

  h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 69px;
    letter-spacing: 0%;
    color: $primary-color;
    margin-bottom: 32px;
  }
  &__cards {
    display: flex;
    gap: 29px;
    &__card {
      max-width: 461px;
      width: 100%;
      height: 764px;
      background-color: $secondary-color;
      border-radius: 36px;
      box-shadow: 0px 2px 50px 0px #0000001f;
      padding: 15px;

      h3 {
        margin-top: 24px;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0%;
        margin-bottom: 16px;
        margin-left: 17px;
      }

      &-character {
        margin-left: 17px;
        margin-bottom: 25px;
        p {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0%;
          color: $primary-color;
          margin-bottom: 10px;
        }
      }
      &-price {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #c1c1c1;
        margin-bottom: 24px;
        &-standart {
          h3 {
            margin-bottom: 4px;
            font-weight: 500;
            font-size: 25px;
            line-height: 100%;
            letter-spacing: 0%;
          }
          p {
            margin-left: 17px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0%;
            color: #2b2b2b;
          }
        }
        &-korea {
          width: 220px;
          height: 105px;
          background-color: #fee5e9;
          border-radius: 40px 0px 0px 40px;
          padding-left: 22px;
          h3 {
            margin-bottom: 4px;
            margin-left: 0px;
            font-weight: 800;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $primary-color-red;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0%;
            color: #2b2b2b;
          }
        }
      }
      button {
        width: 397px;
        height: 72px;
        border-radius: 14px;
        background-color: $primary-color-red;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $secondary-color;
        box-shadow: 0px 12px 60px 0px #fa002c66;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          background-color: rgb(255, 74, 74);
        }
      }
    }
  }
  &__mobile {
    display: none;
    &__card {
      max-width: 308px;
      border-radius: 24px;
      width: 100%;
      height: 731px;
      background-color: $secondary-color;
      box-shadow: 0px 2px 30px 0px #0000001f;
      padding: 6px;

      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0%;
        margin-top: 24px;
        margin-bottom: 14px;
        margin-left: 10px;
      }
      &-character {
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0%;
          color: $primary-color;
          margin-left: 10px;
          margin-bottom: 10px;
        }
      }
      &-pricestandart {
        margin-bottom: 16px;
        h3 {
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 25px;
          line-height: 100%;
          letter-spacing: 0%;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          color: #2b2b2b;
          margin-left: 10px;
        }
      }
      &-pricekorea {
        max-width: 274px;
        width: 100%;
        height: 86px;
        background-color: #FEE5E9;
        border-radius: 0px 30px 30px 0px;
        padding-top: 1px;
        margin-bottom: 16px;
        h3 {
          font-weight: 800;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $primary-color-red;
          margin-bottom: 5px;
        }
        p {
            font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          color: #2b2b2b;
          margin-left: 10px;
        }
      }
      button {
        width: 276px;
        height: 54px;
        border-radius: 14px;
        background-color: $primary-color-red;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $secondary-color;
        box-shadow: 0px 12px 60px 0px #FA002C66;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          background-color: rgb(255, 74, 74);
        }
      }
    }
  }
}

@include mobile() {
  .famous__wrapper {
    margin-top: 88px;
    h2 {
        font-size: 24px;
    }
    &__cards {
        display: none;
    }
    &__mobile {
        display: flex;
    }
  }
}