.kia {
  background-color: #f4f6f8;
  padding-bottom: 100px;
  padding-top: 100px;

  &__wrapper {
    padding-left: 31px;
    padding-right: 31px;

    h2 {
      font-weight: 700;
      font-size: 50px;
      line-height: 69px;
      letter-spacing: 0%;
      color: $primary-color;
      margin-bottom: 42px;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 28px;

      &__card {
        max-width: 461px;
        width: 100%;
        height: 389px;
        border-radius: 36px;
        background-color: $secondary-color;
        box-shadow: 0px 10px 50px 0px #00000033;
        margin-bottom: 28px;
        padding-top: 48px;
        padding-left: 40px;
        margin-bottom: 50px;

        h3 {
          font-weight: 600;
          font-size: 30px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $primary-color;
          margin-bottom: 16px;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0%;
          color: #666666;
          margin-bottom: 12px;
        }

        h4 {
          font-weight: 600;
          font-size: 60px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $primary-color;

          span {
            font-weight: 600;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }

        &-1 {
          max-width: 461px;
          width: 100%;
          height: 389px;
          border-radius: 36px;
          padding-top: 48px;
          padding-left: 40px;
          h3 {
            font-weight: 600;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $secondary-color;
            margin-bottom: 16px;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0%;
            color: $secondary-color;
            margin-bottom: 12px;
          }

          h4 {
            font-weight: 600;
            font-size: 60px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $secondary-color;

            span {
              font-weight: 600;
              font-size: 36px;
              line-height: 100%;
              letter-spacing: 0%;
            }
          }
          background-image: radial-gradient(
              99.46% 139.68% at 15.4% 16.97%,
              #5e6b9a 0%,
              rgba(94, 107, 154, 0) 100%
            ),
            url(../../../assets/images/kia_card.png);
          background-repeat: no-repeat;
        }
      }
    }

    &__bottom {
      margin-top: 48px;
      padding-left: 367px;
      &-1 {
        display: flex;
        max-width: 1072px;
        width: 100%;
        margin-bottom: 14px;
        p {
          font-weight: 400;
          font-size: 30px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $primary-color;
          margin-right: 70px;

          span {
            color: $primary-color-red;
            margin-right: 72px;
            font-size: 60px;
          }
        }
        h5 {
          font-weight: 600;
          font-size: 60px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: right;
          color: $primary-color-red;

          span {
            font-size: 36px;
          }
        }
      }
      &-2 {
        display: flex;
        max-width: 1072px;
        width: 100%;
        p {
          font-weight: 400;
          font-size: 30px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $primary-color;
          margin-right: 70px;

          span {
            color: $primary-color-red;
            margin-right: 72px;
            font-size: 60px;
          }
        }
        h5 {
          font-weight: 600;
          font-size: 60px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: right;

          span {
            font-size: 36px;
          }
        }
      }
    }
  }
}

@include mobile() {
  .kia {
    &__wrapper {
      padding: 0px;
      h2 {
        font-size: 24px;
        margin-bottom: 30px;
      }

      &__content {
        grid-template-columns: 1fr;

        &__card {
          max-width: 328px;
          width: 100%;
          min-height: 255px;
          margin-bottom: 12px;

          h3 {
            font-size: 20px;
          }

          p {
            font-size: 16px;
          }

          h4 {
            font-size: 50px;
            span {
              font-size: 24px;
            }
          }

          &-1 {
            max-width: 328px;
            width: 100%;
            min-height: 255px;
            margin-bottom: 12px;

            h3 {
              font-size: 20px;
            }

            p {
              font-size: 16px;
            }

            h4 {
              font-size: 50px;
              span {
                font-size: 24px;
              }
            }
          }
        }
      }

      &__bottom {
        padding-left: 0px;
        &-1 {
            flex-direction: column;
            max-width: 290px;
            p {
                font-size: 16px;
                margin-right: 0px;
                margin-bottom: 4px;
                span {
                    display: none;
                }
            }
            h5 {
                padding-right: 25px;
                font-size: 46px;
                span {
                    font-size: 24px;
                }
            }
        }
        &-2 {
            flex-direction: column;
            max-width: 290px;
            p {
                font-size: 16px;
                margin-right: 0px;
                margin-bottom: 4px;
                span {
                    display: none;
                }
            }
            h5 {
                padding-right: 25px;
                font-size: 46px;
                span {
                    font-size: 24px;
                }
            }
        }
      }
    }
  }
}
