.nav {
  max-width: 1920px;
  width: 100%;
  height: 840px;
  margin: 0 auto;
  backdrop-filter: blur(100px);
  background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../../../assets/images/head_bg.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-left: 88px;
  padding-right: 88px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 61px;

    &__list {
      display: flex;
      align-items: center;
      max-width: 875px;
      width: 100%;
      height: 20px;
      justify-content: space-between;
      margin-top: 18px;
      a {
        li {
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: #242424;
          display: inline-block;
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.1);
            color: #ff0000;
          }
        }
      }
    }
    &__button {
      button {
        width: 216px;
        height: 48px;
        margin-top: 9px;
        border-radius: 8px;
        background-color: $primary-color-red;
        display: flex;
        align-items: center;
        padding-left: 27px;
        padding-right: 28px;
        color: $secondary-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        transition: transform 0.2s ease;
        cursor: pointer;
        &:hover {
          background-color: rgb(255, 74, 74);
        }
      }
    }
  }
  &__content {
    position: relative;

    &__text {
      width: 790px;
      height: 595px;
      padding-top: 85px;
      padding-left: 75px;
      border-radius: 24px;
      border: 1px solid $secondary-color;
      background: #ffffffa3;

      h1 {
        font-weight: 800;
        font-size: 70px;
        line-height: 90px;
        color: #282828;
      }
      ul {
        margin-bottom: 50px;
        li {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 26px;
          line-height: 36px;
          letter-spacing: 0%;
          color: $primary-color;
          img {
            margin-right: 20px;
          }
        }
      }
      &__bottom {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          width: 301px;
          height: 80px;
          border-radius: 8px;
          background-color: $primary-color-red;
          cursor: pointer;
          font-weight: 700;
          font-size: 16px;
          line-height: 26px;
          color: $secondary-color;
          cursor: pointer;
          transition: transform 0.2s ease;
          &:hover {
            background-color: rgb(255, 74, 74);
          }
        }
        img {
          cursor: pointer;
          &:hover {
            background-color: #b5b0b051;
          }
        }
      }
    }
    &__img {
      position: absolute;
      top: 122px;
      left: 210px;
    }
  }
}

.nav__mob {
  backdrop-filter: blur(100px);
  display: none;
  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../../../assets/images/head_mobile_bg.png);
  background-repeat: no-repeat;
  max-width: 360px;
  width: 100%;
  height: 627px;
  &__sections {
    max-width: 338px;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 37px;
    img {
      max-width: 168px;
    }
  }
  &__content {
    align-items: center;
    padding-left: 16px;
    h1 {
      font-weight: 800;
      font-size: 46px;
      line-height: 56px;
      letter-spacing: 0%;
      color: #282828;
      margin-bottom: 30px;
    }
    ul {
      margin-bottom: 30px;
      li {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        color: $primary-color;
        margin-bottom: 12px;
        img {
          margin-right: 23px;
        }
      }
    }
    button {
      width: 328px;
      height: 72px;
      border-radius: 8px;
      background-color: $primary-color-red;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: $secondary-color;
      cursor: pointer;
      transition: transform 0.3s ease;
      margin-bottom: 18px;
      &:hover {
        background-color: rgb(255, 74, 74);
      }
    }
    &__socials {
      display: flex;
      align-items: center;
      margin-left: 88px;
      gap: 18px;
      img {
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          background-color: #a9a2a288;
        }
      }
    }
  }
}

@include mobile() {
  .nav {
    display: none;
  }
  .nav__mob {
    display: flex;
    flex-direction: column;
  }
}
