.pluses__wrapper {
  margin-top: 100px;
  padding-left: 31px;
  padding-right: 31px;
  h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 69px;
    letter-spacing: 0%;
    color: $primary-color;
    margin-bottom: 57px;
  }

  &__content {
    display: flex;

    &__sections {
      margin-right: 77px;
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        color: $primary-color;
        margin-bottom: 30px;
        cursor: pointer;

        &:hover {
          color: $primary-color-red;
        }
        span {
          font-size: 30px;
          color: $primary-color-red;
          margin-right: 30px;
        }
      }
      hr {
        height: 0px;
        max-width: 440px;
        width: 100%;
        margin-bottom: 30px;
      }
    }
    &__sections-2 {
      margin-right: 28px;
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0%;
        color: $primary-color;
        margin-bottom: 30px;
        cursor: pointer;

        &:hover {
          color: $primary-color-red;
        }
        span {
          font-size: 30px;
          color: $primary-color-red;
          margin-right: 30px;
        }
      }
      hr {
        height: 0px;
        width: 420px;
        margin-bottom: 30px;
      }
    }
    &__card {
      width: 461px;
      height: 559px;
      border-radius: 36px;
      background-color: $secondary-color;
      box-shadow: 0px 2px 50px 0px #0000001f;
      padding: 15px;

      h3 {
        margin-top: 24px;
        margin-left: 17px;
        margin-bottom: 14px;
      }
      p {
        font-weight: 400;
        margin-left: 17px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #292929;
        margin-bottom: 24px;
      }
      &__buttons {
        display: flex;
        margin-left: 17px;
        gap: 12px;
        div {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          border: 1px solid #d3d3d3;
          text-align: center;
          padding-top: 20px;
          cursor: pointer;

          &:hover {
            border: 1px solid $primary-color-red;
          }
        }
      }
    }
  }
}

@include mobile() {
  .pluses__wrapper {
    margin-top: 60px;
    padding: 0px;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0%;

      margin-bottom: 24px;
    }
    &__content {
      &__sections {
        display: none;
      }
      &__sections-2 {
        display: none;
      }
      &__card {
        max-width: 300px;
        width: 100%;
        height: 418px;
        border-radius: 24px;
        padding: 6px;
        h3 {
          font-size: 20px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0%;
        }

        &__buttons {
          display: none;
        }
      }
    }
  }
}
