.process {
  background-color: #f4f6f8;
  padding: 20px;
  &__wrapper {
    &__description {
      margin-bottom: 70px;

      h2 {
        font-weight: 700;
        font-size: 50px;
        line-height: 69px;
        letter-spacing: 0%;
        color: $primary-color;
        margin-bottom: 24px;
      }
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0%;
        color: #3d3d3d;
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      &__card {
        width: 373px;
        height: 226px;
        border-bottom: 1px solid #d6a7af;
        border-bottom-style: dashed;
        border-left: 1px solid #d6a7af;
        border-left-style: dashed;
        padding-left: 40px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          border-radius: 22px;
          background-color: $secondary-color;
          box-shadow: 0px 2px 50px 0px #23252612;
          border: none;
        }

        h3 {
          font-weight: 700;
          font-size: 60px;
          line-height: 69px;
          letter-spacing: 0%;
          color: $primary-color-red;
          display: flex;
          align-items: center;
          margin-bottom: 23px;

          img {
            margin-left: 34px;
          }
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0%;
          color: $primary-color;
        }
      }
      &__card-2 {
        width: 373px;
        height: 226px;
        border-bottom: 1px solid #d6a7af;
        border-bottom-style: dashed;
        cursor: pointer;
        transition: transform 0.3s ease;
        
        &:hover {
          border-radius: 22px;
          background-color: $secondary-color;
          box-shadow: 0px 2px 50px 0px #23252612;
          border: none;
        }

        h3 {
          font-weight: 700;
          font-size: 60px;
          line-height: 69px;
          letter-spacing: 0%;
          color: $primary-color-red;
          display: flex;
          align-items: center;
          margin-bottom: 23px;

          img {
            margin-left: 34px;
          }
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0%;
          color: $primary-color;
        }
      }
    }
  }
}
