.process {
  background-color: #f4f6f8;
  padding: 20px;
  &__wrapper {
    padding-top: 120px;
    padding-bottom: 90px;
    &__description {
      margin-bottom: 70px;

      h2 {
        font-weight: 700;
        font-size: 50px;
        line-height: 69px;
        letter-spacing: 0%;
        color: $primary-color;
        margin-bottom: 24px;
      }
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0%;
        color: #3d3d3d;
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      &__card {
        max-width: 373px;
        width: 100%;
        height: 226px;
        border-bottom: 1px solid #d6a7af;
        border-bottom-style: dashed;
        border-left: 1px solid #d6a7af;
        border-left-style: dashed;
        padding-left: 40px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          border-radius: 22px;
          background-color: $secondary-color;
          box-shadow: 0px 2px 50px 0px #23252612;
          border: none;
        }

        h3 {
          font-weight: 700;
          font-size: 60px;
          line-height: 69px;
          letter-spacing: 0%;
          color: $primary-color-red;
          display: flex;
          align-items: center;
          margin-bottom: 23px;

          img {
            margin-left: 34px;
          }
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0%;
          color: $primary-color;
        }
      }
      &__card-2 {
        max-width: 373px;
        width: 100%;
        height: 226px;
        border-bottom: 1px solid #d6a7af;
        border-bottom-style: dashed;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          border-radius: 22px;
          background-color: $secondary-color;
          box-shadow: 0px 2px 50px 0px #23252612;
          border: none;
        }

        h3 {
          font-weight: 700;
          font-size: 60px;
          line-height: 69px;
          letter-spacing: 0%;
          color: $primary-color-red;
          display: flex;
          align-items: center;
          margin-bottom: 23px;

          img {
            margin-left: 34px;
          }
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0%;
          color: $primary-color;
        }
      }
    }
  }
  &__mobile {
    margin-top: 60px;
    display: none;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0%;
      color: $primary-color;
      margin-bottom: 16px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0%;
      color: #3d3d3d;
      margin-bottom: 28px;
    }
    &__list {
      li {
        display: flex;
        align-items: flex-start;
        gap: 34px;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0%;

        color: $primary-color-red;
        position: relative;
        padding-left: 15px;
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0%;
          color: $primary-color;
          padding-top: 10px;
        }
        &::before {
          content: "";
          width: 8px;
          height: 8px;
          background-color: red;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 33%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@include mobile() {
  .process {
    &__wrapper {
      display: none;
    }
    &__mobile {
      display: flex;
      flex-direction: column;
    }
  }
}