* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  border-radius: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1501px;
  margin: 0 auto;

  @include mobile() {
    max-width: 409px;
    padding: 16px;
  }
}

body {
  display: flex;
  justify-content: center;
}

p {
  color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  color: $primary-color;
}
